aiosqlite
black
fastapi
huggingface_hub
IPython
isort
langchain
langchain-community
langchain_openai
langgraph
langsmith
loguru
llama_index
openai
pandas
pgvector
pip-system-certs
psycopg2-binary
pydantic
pytest
python-dotenv
PyJWT
sqlalchemy
sqlalchemy.orm
tavily-python
tiktoken
unstructured
uvicorn
